<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://functionapp120231112172345.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/4b3d379b-28df-4118-bebc-95df34d1d6ab/resourcegroups/fit-media-group/providers/Microsoft.Web/sites/FunctionApp120231112172345</ResourceId>
    <UserName>$FunctionApp120231112172345</UserName>
    <_SavePWD>true</_SavePWD>
    <PublishUrl>https://functionapp120231112172345.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>