<?xml version="1.0" encoding="utf-8"?>
<!-- https://go.microsoft.com/fwlink/?LinkID=208121. -->
<Project>
  <PropertyGroup>
    <WebPublishMethod>Container</WebPublishMethod>
    <PublishProvider>ContainerApp</PublishProvider>
    <ContainerResourceId>/subscriptions/4b3d379b-28df-4118-bebc-95df34d1d6ab/resourcegroups/fit-media-group/providers/Microsoft.ContainerRegistry/registries/webapi20251002061143</ContainerResourceId>
    <ContainerResourceName>webapi20251002061143</ContainerResourceName>
    <Subscription>Azure subscription 1</Subscription>
    <Subtype>ContainerRegistry</Subtype>
    <RegistryUrl>webapi20251002061143.azurecr.io</RegistryUrl>
    <ContainerPublishMethod>NetSdk</ContainerPublishMethod>
    <RuntimeIdentifier>linux-x64</RuntimeIdentifier>
    <ContainerName>webapi</ContainerName>
    <EnvironmentName>webapi-env-20251001090146</EnvironmentName>
    <SiteUrlToLaunchAfterPublish>https://webapi-app-20251001090144.ashymoss-a0eabe61.eastus.azurecontainerapps.io</SiteUrlToLaunchAfterPublish>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <IngressTargetPort>8080</IngressTargetPort>
    <ResourceId>/subscriptions/4b3d379b-28df-4118-bebc-95df34d1d6ab/resourceGroups/fit-media-group/providers/Microsoft.App/containerapps/webapi-app-20251001090144</ResourceId>
    <ResourceGroup>fit-media-group</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <_TargetId>NetSdkAzureContainerAppLinux</_TargetId>
    <ExcludeApp_Data>false</ExcludeApp_Data>
    <TargetFramework>net9.0</TargetFramework>
    <ProjectGuid>9592993b-dc6f-4c39-8b17-3574e751db6d</ProjectGuid>
    <SelfContained>true</SelfContained>
  </PropertyGroup>
</Project>